.css-10d9dml-MuiTabs-indicator{
    display:none !important;
}

.css-1n9xcyc-MuiButtonBase-root-MuiTab-root{
    text-transform: none !important;
    font-family:'Raleway', sans-serif !important;
    font-weight:700 !important;
}

.css-1n9xcyc-MuiButtonBase-root-MuiTab-root.Mui-selected{
    background-color: #E6F1F8 !important;
    border-radius: 25px !important;
    color:#0071BD !important;
    font-weight:700;
}

 .active{
    background-color:#E6F1F8;
    border-radius: 25px !important;
    top:140px;
    color:#0071BD !important;
    font-weight:700;
    padding:10px 0px 10px 20px;
    background-position: 0 -100%;
}


@media screen and (max-width: 540px){
    .active{
        background-color: transparent;
        border-radius: 0;
        padding:0;
    }
}

@media screen and (max-width: 425px){
    .spac{
        padding:1.75rem;
    }
    .active{
        background-color: transparent;
        border-radius: 0;
        padding:0;
    }
}
